@import "tailwindcss";

:root {
  --background: #0f172a; /* Slate 950 */
  --background-alt: #1e293b; /* Slate 800 */
  --surface: #334155; /* Slate 700 */
  --foreground: #f8fafc; /* Slate 50 */
  --foreground-muted: #94a3b8; /* Slate 400 */
  --accent: #22d3ee;
  --accent-dark: #0891b2; /* Slate 600 adjustment */
}

@theme inline {
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
